@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;

}
#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: white;
    z-index: 9999;
}
#loader #topheading{
    
    
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
}
#topheading h5{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}
#loader h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 4vw;
    font-weight: 200;
}
#loader #span1{
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: italic;
    color: #14CF93;

}
.reveal .parent{
    display: block;
    /* background-color: red; */
    overflow: hidden;
}  
.reveal .parent .child{
    /* transform: translateY(50%); */
    
    display: block;
    
} 
.parent .child span{
    display: inline-block;
}
#green{
    width: 100%;
    height: 0vh;
    background-color: #14CF93;
    position: absolute;
    top: -100%;
    z-index: 999;
}



body{
    margin :0;
    background-color: #210002;
    font-family: Poppins;
    font-size: 15px;
}
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('img/0.png');
}
.banner .bg-2{
    background-image: url('img/1.png');
}
.banner .bg-3{
    background-image: url('img/2.png');
}
.banner .bg-4{
    background-image: url('img/3.png');
}
.banner .bg-5{
    background-image: url('img/4.png');
}
.banner .bg-6{
    background-image: url('img/5.png');
}
.banner .bg-7{
    background-image: url('img/6.png');
}
.banner .bg-8{
    background-image: url('img/7.png');
}
.banner .bg-9{
    background-image: url('img/8.png');
}
.banner  h1{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: center;
    font-size: 50em;
}
.heading{
    text-align: center;
}
.paragraph{
    font-size: large;
    font-weight: 500;
}
.intro button{
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}
.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}
.library{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .banner h1{
        font-size: 5rem;
    }
    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
}
.sec{
    -webkit-text-fill-color: #fff;
    position: relative;
}
.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.marquee {
    --marquee--colour: #f3bb0b;
    --marquee--repeat-count: 6;
    --marquee--base-duration: 1s;
    --marquee--repeat-size: calc(100% / var(--marquee--repeat-count));
    --marquee--double-size: calc(var(--marquee--repeat-size) * 2);
    --marquee--duration: calc(var(--marquee--base-duration) * var(--char-count, 20));
    overflow: hidden;
    width: 110%;
    height: 100%;
    margin-left: -5%;
    mix-blend-mode: screen;
    transform: rotate(-5deg);
    background: var(--marquee--colour);
    color: black;
 }
  .marquee:nth-child(even) {
    --marquee--direction: -1;
    transform: rotate(5deg);
    background: green;
    color: white;
 }
  .marquee p {
    transform: translateY(0.07em);
    font-weight: bold;
    margin: 0;
    display: flex;
    gap: 0.5em;
    line-height: 1.1;
    font-size: clamp(2.5rem, 12vw, 6.2rem);
    font-family: "Bebas Neue", sans-serif;
   /* An empty psuedo element creates a gap after the last element */
 }
  .marquee p::after {
    content: "*";
    transform: translateY(0.175em);
 }
  .marquee p::before {
    content: "";
 }
  .marquee--inner {
    width: max-content;
    display: flex;
    text-transform: uppercase;
 }
  @media (prefers-reduced-motion: no-preference) {
    .marquee--inner {
      animation: marquee var(--marquee--duration) infinite linear, reduce-marquee var(--marquee--duration) infinite linear paused;
      animation-composition: add;
   }
    .marquee--inner:hover {
      animation-play-state: running;
   }
 }
  @keyframes marquee {
    from {
      transform: translateX(calc((-1 * var(--marquee--double-size)) - (var(--marquee--double-size) * var(--marquee--direction, 1))));
   }
    to {
      transform: translateX(calc(var(--marquee--double-size) * -1));
   }
 }
  @keyframes reduce-marquee {
    from {
      transform: translateX(calc(var(--marquee--repeat-size) * var(--marquee--direction, 1)));
   }
    to {
      transfrom: translateX(calc(var(--marquee--double-size) * -1));
   }
 }
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* background-image: url(https://images.unsplash.com/photo-1505356822725-08ad25f3ffe4?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-position: center;
    filter: brightness(0.25);
 }
  
  .marquees {
    align-content: center;
    height: 150%;
    display: grid;
    gap: 5vw;
    overflow: hidden;
 }
  button {
    position: absolute;
    top: 20px;
    left: 20px;
 }
  button[aria-pressed='true'] {
    filter: invert(1);
 }
  [aria-pressed='true'] + * .marquee--inner {
    animation-play-state: paused !important;
 }
  